In [7]:
import pandas as pd
import scattertext as st
import spacy
from pprint import pprint
from collections import Counter
import re
from spacy.tokenizer import Tokenizer
from nltk.stem import PorterStemmer

shops = pd.read_csv('C:\\Users\\lilyx\\DS-Unit-4-Sprint-1-NLP\\module1-text-data\\data\\yelp_coffeeshop_review_data.csv')
shops.sample(6)

,coffee_shop_name,full_review_text,star_rating
2580,Flightpath Coffeehouse,3/11/2014 26 check-ins Flightpath has quickly...,4.0 star rating
6977,My Sweet Austin,2/27/2016 All I can say is PERFECTION! We sho...,5.0 star rating
3332,Jo’s Coffee,10/16/2015 1 check-in Yummy yum yum! :) I ha...,5.0 star rating
7453,Hot Mama’s Cafe,3/9/2013 1 check-in Underneath the sign for H...,2.0 star rating
3900,Lola Savannah Coffee Lounge,1/25/2016 Out of the 45+ coffee houses that I...,5.0 star rating
891,Legend Coffee,7/1/2015 I love a good coffee so came over to...,5.0 star rating

In [3]:
#to remove dates at the beginning of string, split the string into a list of words, then indexing the second to last words
splitty = lambda x: x['full_review_text'].split()[1:]
shops['full_review_text'] = shops.apply(splitty, axis=1)

shops.sample(3)

,coffee_shop_name,full_review_text,star_rating
3566,Patika,"[So, my, coffee, standards, are, high, to, sta...",5.0 star rating
3600,Cenote,"[Cenote, has, been, my, go-to, cafe, since, I,...",3.0 star rating
4755,Venezia Italian Gelato,"[Simply, awesome., This, is, the, place, for, ...",5.0 star rating

In [4]:
#join list of words back together
jointty = lambda x: ' '.join(map(lambda x: str(x), x['full_review_text']))
shops['full_review_text'] = shops.apply(jointty, axis=1)
# shops['full_review_text'] = ','.join([str(x) for x in shops['full_review_text']])
shops.sample(3)

,coffee_shop_name,full_review_text,star_rating
6378,"Strange Brew, Austin Coffee",Decent coffee and easy laid back atmosphere. I...,3.0 star rating
6023,La Tazza Fresca,Pretty good coffee and really great sandwiches...,4.0 star rating
5513,Radio Coffee & Beer,They have a great selection of beer and have a...,2.0 star rating

In [5]:
#lowercasing all words in review
lowercase = lambda x: str.lower(x['full_review_text'])
shops['full_review_text'] = shops.apply(lowercase, axis=1)
# shops['full_review_text'] = ','.join([str(x) for x in shops['full_review_text']])
shops.sample(3)

,coffee_shop_name,full_review_text,star_rating
1997,Epoch Coffee,10 check-ins listed in coffee thursday this pl...,4.0 star rating
5716,Trianon Coffee,3 check-ins my monday morning stop for fresh r...,3.0 star rating
5206,TOMS,2 check-ins i finally was able to check this p...,4.0 star rating

In [1]:
#calling spacy's default stop words and adding some manually
nlp = spacy.load("en_core_web_md")
tokenizer = Tokenizer(nlp.vocab)#breaks text, it creates character indexes instead of splitting words up

STOP_WORDS = nlp.Defaults.stop_words.union(['check-in','=','= =','male','u','want', 'u want', 'cuz','him','check-in','him',"i've", 'deaf','on', 'her','told','told him','ins', '1 check','I', 'i"m', 'i', ' ', 'it', "it's", 'it.','they','coffee','place','they', 'the', 'this','its', 'l','-','they','this','don"t','the ', ' the', 'it', 'i"ve', 'i"m', '!', '1','2','3','4', '5','6','7','8','9','0','/','.',','])

# STOP_WORDS

NameError: name 'spacy' is not defined

In [6]:
#create tokens based on stop words
tokens = []

for doc in tokenizer.pipe(shops['full_review_text'], batch_size=800):
    
    doc_tokens = []
    
    for token in doc: 
        if token.text not in STOP_WORDS:
            doc_tokens.append(token.text.lower())
   
    tokens.append(doc_tokens)
    
shops['tokens'] = tokens

In [7]:
shops.sample(3)

,coffee_shop_name,full_review_text,star_rating,tokens
1138,The Factory - Cafe With a Soul,this place is really nice. they have done a gr...,5.0 star rating,"[nice., great, job..., type, spend, hours, in...."
5357,Cuvée Coffee Bar,you can find me at cuvee almost every other mo...,5.0 star rating,"[find, cuvee, morning., great, baristas, aweso..."
5242,Genuine Joe,room nice. plain coffee meh. they have intrigu...,4.0 star rating,"[room, nice., plain, meh., intriguing, over-th..."

In [8]:
#join tokens back together for use
jointty = lambda x: ' '.join(map(lambda x: str(x), x['tokens']))
shops['joined_tokens'] = shops.apply(jointty, axis=1)
shops.sample(3)

,coffee_shop_name,full_review_text,star_rating,tokens,joined_tokens
4958,Once Over Coffee Bar,"i like the location, and i like some of the pe...",3.0 star rating,"[like, location,, like, people, work, there......","like location, like people work there... like ..."
6819,Teo,2 check-ins the gelato is on the pricy side co...,2.0 star rating,"[check-ins, gelato, pricy, compares, gelato, p...",check-ins gelato pricy compares gelato places ...
6871,Teo,11 check-ins best espresso in town! get the do...,5.0 star rating,"[11, check-ins, best, espresso, town!, double,...",11 check-ins best espresso town! double machia...

In [9]:
#start of scattertext library magic
corpus = st.CorpusFromPandas(shops, 
                             category_col='star_rating', 
                             text_col='joined_tokens',
                             nlp=nlp).build()

In [10]:
#getting a list of words correlated with high rating score
term_freq_df = corpus.get_term_freq_df()
term_freq_df['highratingscore'] = corpus.get_scaled_f_scores(' 5.0 star rating ')
pprint(list(term_freq_df.sort_values(by='highratingscore', ascending=False).index[:10]))

['= =',
 'best gelato',
 'venezia',
 'coast',
 "anderson 's",
 'italy',
 'love love',
 'incredible',
 'pound',
 'sara']

In [11]:
#getting a list of words correlated with low rating score
term_freq_df['poorratingscore'] = corpus.get_scaled_f_scores(' 1.0 star rating ')
pprint(list(term_freq_df.sort_values(by='poorratingscore', ascending=False).index[:10]))

['particularly fabulous',
 'milk splendas',
 'understand business',
 'stars cuz',
 'splendas',
 'cancelled order',
 'policies',
 'understanding',
 'cancelled',
 'male']

In [12]:
#creating a dataframe ranking the words correlated with poorest ratings
term_freq_df.sort_values(by= 'poorratingscore', ascending = False)

,5.0 star rating freq,4.0 star rating freq,2.0 star rating freq,3.0 star rating freq,1.0 star rating freq,highratingscore,poorratingscore
term,,,,,,,
particularly fabulous,0,0,0,0,8,0.347828,1.000000e+00
milk splendas,0,0,0,0,6,0.386662,9.997953e-01
understand business,0,0,0,0,6,0.386662,9.997953e-01
stars cuz,0,0,0,0,6,0.386662,9.997953e-01
splendas,0,0,0,1,6,0.367032,9.997839e-01
cancelled order,0,0,0,1,6,0.367032,9.997839e-01
policies,1,0,0,0,6,0.399203,9.997839e-01
understanding,1,0,0,2,7,0.338671,9.997676e-01
cancelled,0,0,1,1,6,0.347828,9.997044e-01
male,2,3,1,0,12,0.227176,9.996268e-01
haired,1,1,1,1,6,0.338671,9.987572e-01
philz,5,1,0,0,8,0.380910,9.984381e-01
shell shocked,0,0,0,0,5,0.406681,9.982367e-01
's website,0,0,0,0,5,0.406681,9.982367e-01
u want,0,0,0,0,5,0.406681,9.982367e-01
rudest,0,0,0,0,5,0.406681,9.982367e-01
matt,5,2,0,0,9,0.339228,9.982328e-01
overpriced food,0,0,0,1,5,0.386662,9.982182e-01
large drink,1,0,0,0,5,0.421037,9.982182e-01
rudely,0,0,2,0,5,0.367032,9.980672e-01
paying customers,0,0,0,2,5,0.367032,9.980672e-01
stay away,1,1,0,0,5,0.399203,9.980672e-01
mozarts,2,0,0,0,5,0.436573,9.980672e-01
inconvenience,1,0,1,4,7,0.284014,9.975350e-01
horribly,1,0,1,1,5,0.378296,9.975224e-01
shocked,3,3,0,1,8,0.301590,9.973786e-01
angus,3,1,0,0,5,0.426579,9.962965e-01
asked wanted,1,2,3,0,6,0.301615,9.957711e-01
tipped,1,0,1,4,6,0.301615,9.957711e-01
requested,2,1,1,2,6,0.329453,9.957711e-01
...,...,...,...,...,...,...,...
couches,56,52,1,15,0,0.858684,1.901420e-04
folks,67,45,6,8,0,0.894037,1.528022e-04
moon milk,86,37,2,2,0,0.942432,1.368169e-04
cortado,70,37,9,16,0,0.893471,7.780786e-05
modern,61,49,9,15,0,0.860565,6.173923e-05
beers,74,51,1,10,0,0.898897,4.883326e-05
boba,54,65,8,10,0,0.116698,4.337842e-05
strawberry,76,44,5,13,0,0.901426,3.850217e-05
heart,89,41,2,8,0,0.930443,3.025993e-05
roasted,82,39,11,9,0,0.912688,2.679408e-05
milk tea,57,67,12,7,0,0.118879,2.095745e-05
book,79,58,1,10,0,0.894861,1.118150e-05
halcyon,54,61,15,19,0,0.101663,9.837560e-06
baked goods,62,66,7,20,0,0.119565,4.486231e-06
live music,82,57,8,15,0,0.883559,1.730323e-06
waffles,97,55,1,10,0,0.917359,1.505280e-06
cinnamon,72,77,13,11,0,0.127775,3.574368e-07
creamy,103,63,3,14,0,0.905956,7.826452e-08
goods,81,71,9,23,0,0.853342,6.693606e-08
located,75,89,7,16,0,0.120096,4.167015e-08
play,99,72,3,14,0,0.891992,3.552271e-08
ins listed,83,91,2,17,0,0.135061,1.579802e-08
ambiance,80,74,10,34,0,0.121584,6.884024e-09
waffle,117,56,4,21,0,0.915932,6.884024e-09
smooth,133,63,5,15,0,0.924182,2.921516e-10
unique,129,91,1,19,0,0.896325,2.860101e-12
variety,133,99,4,14,0,0.894154,3.613221e-13
art,158,72,19,10,0,0.922334,5.206946e-14
fan,116,124,17,18,0,0.130707,1.165734e-15
outlets,101,141,8,30,0,0.100889,0.000000e+00

In [13]:
html = st.produce_scattertext_explorer(corpus,
         category=' 1.0 star rating ',
         category_name='Poor Yelp Rating',
         not_category_name='High Yelp Rating',
         width_in_pixels=1000,
         metadata=shops['coffee_shop_name'])
open("Yelp-CoffeeShop-Visualization.html", 'wb').write(html.encode('utf-8'))

4840268